i.thumbs_up{
    font-size:36px;
    color:#4c8bf5 ; 
    cursor: pointer;
}

i.thumbs_up:active,i.thumbs_up:hover{
    color:white; 
}

h5.card-title{
    color:#4c8bf5
}

div.card{
    margin-top: 10px;
    width: 90%;
}

div.question_card{
    cursor: pointer;
}

h2.card-title{
    color:#0f64f2;
}

#logo{
    height: 50px;
}

a.signOut_btn{
    margin-top: 5px;
}